#this is read by the standalone daemon and embeddedservers
[server]

# this is only for the mysqld standasone daemon
[mysqld]

# this is only for embedded server
[embedded]

[mysqld-5.5]

[mariadb]
log-bin
sync_binlog=1
log-slave-updates
expire_logs_days = 10
server-id={{ server_id }}
log-basename={{ log_basename }}